.App,
.Layout,
#root,
html,
body {
  height: 100%;
  width: 100%;
}

.Menu ul {
  list-style-type: none;
}

.Menu ul li {
  padding: 10px;
  font-size: 1.5rem;
}

.ListConversation {
  overflow-y: scroll;
  height: 100%;
}

.ConversationContainer {
  height: 75%;
  max-height: 75%;
}

.ConversationItem:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.SelectedItem {
  background-color: #7c7c7c;
  color: #FFF;
}

.SelectedItem:hover {
  background-color: #cecece;
}

.Messages {
  padding: 20px;
}