.App,
#root,
html,
body {
  height: 100%;
  width: 100%;
}

.Menu ul {
  list-style-type: none;
}

.Menu ul li {
  padding: 10px;
  font-size: 1.5rem;
}

.ListConversation {
  overflow-y: scroll;
  height: 100%;
}

.ListConversation::-webkit-scrollbar,
.ConversationContainer::-webkit-scrollbar,
.Modal::-webkit-scrollbar {
  display: none;
}

.ConversationContainer {
  max-height: 75%;
  height: 600px;
  overflow: scroll;
}

.ConversationItem:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.SelectedItem {
  background-color: #7c7c7c;
  color: #fff;
}

.SelectedItem:hover {
  background-color: #cecece;
}

.Messages {
  padding: 20px;
  max-height: 600px;
}

.SendMessageContainer {
  height: 25%;
  position: relative;
}

.icon-close {
  top: 0;
  right: 0;
  cursor: pointer;
}

.ri-eye-line {
  cursor: pointer;
}

.Modal {
  background-color: #f2f2f2;
  height: 400px;
  overflow: scroll;
  width: 500px;
  top: 10%;
  left: 40%;
}

.closeModal {
  top: 0;
  right: 10px;
  cursor: pointer;
}

.showContent {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
