.App,
.Layout,
#root,
html,
body {
  height: 100%;
  width: 100%;
}

.Menu ul {
  list-style-type: none;
}

.Menu ul li {
  padding: 10px;
  font-size: 1.5rem;
}

.ConversationContainer {
  height: 75%;
}
